body {
  margin: 0;
  font-family: 'Press Start 2P', cursive; /* Retro Nintendo font */
  background-color: #e63946; /* Nintendo red */
  color: #ffffff;
  text-align: center;
}

.App {
  text-align: center;
  padding: 20px;
}
